{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_harpiasurvey/branch_accordion

    Template for branch accordion item within a root.

    Context variables:
    * branch_turn_id - The branch turn ID
    * branch_label - The branch label (e.g., "3.1")
    * is_expanded - Whether this branch is expanded
    * is_active - Whether this is the currently active branch
    * messages - Array of message HTML strings
}}
<div class="branch-accordion-item border-left border-primary ml-3 pl-3" data-branch-turn="{{branch_turn_id}}" data-branch-label="{{branch_label}}">
    <div class="branch-accordion-header py-2" style="cursor: pointer;" data-toggle="collapse" data-target="#branch-{{branch_turn_id}}-content">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="fa fa-chevron-{{#is_expanded}}right{{/is_expanded}}{{^is_expanded}}down{{/is_expanded}} mr-2 fa-xs"></i>
                <span class="{{#is_active}}font-weight-bold text-primary{{/is_active}}">
                    {{#str}}branch, mod_harpiasurvey{{/str}} {{branch_label}}
                </span>
            </div>
            {{#is_active}}
                <span class="badge badge-info badge-sm">
                    <i class="fa fa-circle fa-xs"></i>
                </span>
            {{/is_active}}
        </div>
    </div>
    <div class="collapse {{#is_expanded}}show{{/is_expanded}}" id="branch-{{branch_turn_id}}-content">
        <div class="branch-messages py-2" data-branch-turn="{{branch_turn_id}}">
            {{{messages_html}}}
        </div>
    </div>
</div>

