<div class="message my-3" data-messageid="{{id}}" {{#turn_id}}data-turn-id="{{turn_id}}"{{/turn_id}} {{#parentid}}data-parentid="{{parentid}}"{{/parentid}} data-role="assistant">
    <div class="d-flex">
        <div class="border rounded p-3 bg-light position-relative" style="max-width: 80%; border-left: 4px solid #007bff !important;">
            <div class="content" style="margin-top: 0;">
                {{{content}}}
            </div>
        </div>
    </div>
</div>
