<div class="message my-3" {{#id}}data-messageid="{{id}}"{{/id}} {{#turn_id}}data-turn-id="{{turn_id}}"{{/turn_id}} {{#parentid}}data-parentid="{{parentid}}"{{/parentid}} data-role="user">
    <div class="d-flex justify-content-end">
        <div class="border rounded p-3 bg-primary text-white position-relative" style="max-width: 80%; border-right: 4px solid #0056b3 !important;">
            <div class="content" style="margin-top: 0;">
                {{{content}}}
            </div>
        </div>
    </div>
</div>
